{sub_dirs, ["lib/server", "lib/http", "rel"]}.

{erl_opts, [{parse_transform, lager_transform},
	    fail_on_warning,
	    debug_info
	    ]}.

{plugins, [rebar_ct]}.

{cover_enabled, true}.

{clean_files, ["*.eunit", "ebin/*.beam"]}.

{eunit_opts, [verbose,
   {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps, [
   {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}},
   {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {branch, "master"}}},
   {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}},
   {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", {branch, "master"}}},
   {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
   {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}}
   ]}.



%% == Common Test ==

%% Override the default "test" directory in which SUITEs are located
{ct_dir, "ct_test"}.

%% Override the default "logs" directory in which SUITEs are logged
{ct_log_dir, "ct_test/logs"}.

%% Option to pass extra parameters when launching Common Test
{ct_extra_params, "-pa lib/*/ebin"}.

%% Option to use short names (i.e., -sname test) when starting ct
%% {ct_use_short_names, true}.