[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 %% HTTP config
 {http,[
	{host, '_'},
	{port, 8766},
	{pool_count, 100},
	{max_connections, infinity}
 	]},
%% Lager config
{lager, [
  {handlers, [
    {lager_console_backend, debug},
    {lager_file_backend, [{file, "error.log"}, {level, error}]},
    {lager_file_backend, [{file, "console.log"}, {level, debug}]}
  ]}]},
%% Server config
{server, [
         {auth_backend, {publicator_static_auth_backend,
                        [[{consumer_code, all},
                          {group, websocket},
                          {auth_info, all}]]}},
         {permission_backend,{publicator_static_permission_backend,
                              [{consumer_code, all},
                               {group websocket},
                               {room_code, all}
                               {can_publish, true},
                               {can_subscribe, true},
                               {can_create, true},
                               {can_subscribe_all_events, true}]}}
         ]}
                        
].
